workflows/IsGazzoOpen.json
{
  "id": 3,
  "name": "IsGazzoOpen",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://restaurant-api.wolt.com/v3/venues/slug/gazzo-sourdough-pizza",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"HTTP Request\"].json[\"results\"][0][\"online\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "349414526",
        "text": "Gazzo is open!!!",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1320,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "4",
          "name": "Gazzo Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "349414526",
        "text": "Gazzo is closed!!!",
        "additionalFields": {}
      },
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1320,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "4",
          "name": "Gazzo Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "webhookId": "ac77ab80-e463-4916-ad5f-23a575fd4b5e",
      "credentials": {
        "telegramApi": {
          "id": "4",
          "name": "Gazzo Bot"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-03-28T11:37:27.117Z",
  "updatedAt": "2022-03-28T16:40:24.371Z",
  "settings": {},
  "staticData": null
}